body {
    background-color: #fd8392;
}

.navbar-sitios-fondo {
    width: 1000px;
    height: 50px;
    position: absolute;
    top: 20px;
    left: 200px;
    background: #000000;
    border: 2px solid #000000;
}

.sitios-links-texto {
    font-size: 18px;
    text-align: center;
    width: auto;
    height: 45px;
    left: 50px;
    position: relative;
    color:#ffffff;
    border: #000000;
    background-color: transparent;
    cursor: pointer;
}

.vinculos-links-texto {
    font-size: 18px;
    text-align: center;
    width: auto;
    top: -40px;
    left: 900px;
    position: relative;
    color:#ffffff;
    border: #000000;
    background-color: transparent;
    cursor: pointer;
    z-index: 1;
}

.fondo-texto-principal {
    width: 725px;
    height: 300px;
    position: absolute;
    top: 68px;
    left: -2px;
    background: #ffffff;
    border: 2px solid #000000;
}

.videos-galeria {
    width: 200px;
    height: 150px;
    position: absolute;
    top: 20px;
    left: 20px;
    background: #ffffff;
    border: 2px solid #000000;
    cursor: pointer;
}

.videos-galeria-miniatura {
    opacity: 0.8;
    width: 200px;
    height: 150px;
}

.videos-galeria-transparencia {
    opacity: 0.8;
    width: 200px;
    height: 30px;
    top: 120px;
    left: -2px;
    position: absolute;
    background: #ffffff;
    border: 2px solid #000000;
}

.videos-galeria-texto {
    font-size: 20px;
    top: 105px;
    left: 15px;
    position: absolute;
}
.videos-galeria-descripcion {
    position: absolute;
    font-size: 20px;
    top: 140px;
    left: 65px;
}

.fotos-galeria {
    width: 200px;
    height: 150px;
    position: absolute;
    top: 20px;
    left: 250px;
    background: #ffffff;
    border: 2px solid #000000;
    cursor: pointer;
}

.fotos-galeria-miniatura {
    opacity: 0.8;
    width: 200px;
    height: 150px;
}

.fotos-galeria-transparencia {
    opacity: 0.8;
    width: 200px;
    height: 30px;
    top: 120px;
    left: -2px;
    position: absolute;
    background: #ffffff;
    border: 2px solid #000000;
}

.fotos-galeria-texto {
    font-size: 20px;
    top: 105px;
    left: 15px;
    position: absolute;
}
.fotos-galeria-descripcion {
    position: absolute;
    font-size: 20px;
    top: 140px;
    left: 65px;
}

.fondo-barra-informacion-principal {
    width: 247px;
    height: 300px;
    position: absolute;
    top: 69px;
    left: 750px;
    background: #ffffff;
    border: 2px solid #000000;
}

.profile-picture-principal {
    position: relative;
    top: 10px;
    left: 10px;
    border: 2px solid #000000;
}

.texto-barra-informacion-principal {
    margin-right: 10px;
    line-height: 22px;
    margin-left: 10px;
}
