.navbar-sitios-fondo {
    width: 1000px;
    height: 50px;
    position: absolute;
    top: 20px;
    left: 200px;
    background: #000000;
    border: 2px solid #000000;
}

.sitios-links-texto {
    font-size: 18px;
    text-align: center;
    width: auto;
    height: 45px;
    left: 50px;
    position: relative;
    color:#ffffff;
    border: #000000;
    background-color: transparent;
    cursor: pointer;
}

.fondo-texto-principal {
    width: 725px;
    height: 400px;
    position: absolute;
    top: 68px;
    left: -2px;
    background: #ffffff;
    border: 2px solid #000000;
}
.fondo-barra-informacion-principal {
    width: 247px;
    height: 300px;
    position: absolute;
    top: 70px;
    left: 750px;
    background: #ffffff;
    border: 2px solid #000000;
}

.profile-picture-principal {
    position: relative;
    top: 10px;
    left: 10px;
    border: 2px solid #000000;
}

.texto-barra-informacion-principal {
    margin-right: 10px;
    line-height: 22px;
    margin-left: 10px;
}

.cuadrado-notas {
    width: 20px;
    height: 20px;
    position: relative;
    top: 30px;
    left: 30px;
    background: #ffffff;
    border: 2px solid #000000;
}

.texto-principal {
    position: relative;
    top: -12px;
    padding-bottom: 0px;
    margin-left: 60px;
    margin-right: 20px;
}

.imagenes-ok {
    position: absolute;
    margin-top: 30px;
    margin-left: 30px;
    padding-bottom: 20px;
    z-index: 1;
}